appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
backcall==0.2.0
beautifulsoup4==4.9.2
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
Django==3.1.2
filelock==3.0.12
freeze==3.0
idna==2.10
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.5.3
jedi==0.17.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.1
mccabe==0.6.1
numpy==1.19.1
parso==0.7.1
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.8
Pygments==2.7.1
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
style==1.1.0
toml==0.10.1
traitlets==5.0.5
update==0.0.1
urllib3==1.25.10
virtualenv==20.0.31
wcwidth==0.2.5
wrapt==1.12.1
xmltodict==0.12.0
